<h1>Choose Your Food:</h1>
  <div class="btn-group" data-toggle="buttons" >
    <ul>
      <button id="test"class="btn btn-primary">Diabetic</button>
      <button class="btn btn-primary">High Blood Pressure</button>
      <button class="btn btn-primary">High Cholesterol</button>
      <button class="btn btn-primary" >BMI Over 25</button>
      <!--<%= link_to "calories", :sort =>%>-->
    </ul>
  </div>
  <%= form_tag chows_list_path do %>
  <div class="accordion" id="myAccordion">
    <%@types.each do |t|%>
      <div class="panel">
        <ul>
          <li>
            <button id="<%=t%>" type="button" class="btn btn-block btn-lg" data-toggle="collapse" data-parent="#myAccordion" data-target="#<%=@types.index(t)%>"><%=t%></button>
          </li>
        </ul>

        <div id="<%=@types.index(t)%>" class="collapse" style="overflow-x:auto;">
      <table  class="table table-striped" style="width:100%">
        <tr>
          <th>Name</th>
          <th>Serving size</th>
          <th>Calories</th>
          <th>Saturated fat</th>
          <th>Sodium</th>
          <th>Carbs</th>
          <th>Sugar</th>
          <th>Fiber</th>
          <th>Protien</th>
          <th>Whole Grain</th>
          <th>20% (Ca,Fe,K)</th>
          <th>Gluten Free</th>
          <th>Organic</th>
          <th>Check</th>
          
        </tr>
        
        <% Chow.where(food_type: t).each do |c|%>
       
        <tr >
          <td class = "product-name"><%= c.name %></td>
          <td><%= pretify c.serving_size %></td>
          <td><%= pretify c.calories %></td>
          <td><%= pretify c.sat_fat %></td>
          <td><%= pretify c.sodium %></td>
          <td><%= pretify c.carbs %></td>
          <td><%= pretify c.sugar %></td>
          <td><%= pretify c.fiber %></td>
          <td><%= pretify c.protein %></td>
          <td><%= c.whole_grain %></td>
          <td><%= c.ca_fe_k_at_20_percent %></td>
          <td><%= c.gluten_free %></td>
          <td><%= c.organic %></td>
         
          <td><%= check_box_tag "items[#{c.name}]"%></td>      
        </tr>
        <%end%>
      </table>
    </div>
      </div>
    <%end%>
  </div>
 
  <%= submit_tag  "Submit"%>
<%end%>

   
    
