 
<h1>Choose Your Food:</h1>
  <div class="btn-group" data-toggle="buttons" >
    <ul>
      <button class="btn btn-primary" id="trigger-Diabetic">Diabetic</button>
      <button class="btn btn-primary" id="trigger-Blood">High Blood Pressure</button>
      <button class="btn btn-primary" id="trigger-cholesterol">High Cholesterol</button>
      <button class="btn btn-primary" id="trigger-BMI" >BMI Over 25</button>
      
    </ul>
  </div>
  <%= form_tag chows_list_path do %>
  <div class="accordion" id="myAccordion">
    <%@types.each do |t|%>
      <div class="panel">
        <ul>
          <li>
            <button id="<%=t%>" type="button" class="btn btn-block btn-lg" data-toggle="collapse" data-parent="#myAccordion" data-target="#<%=@types.index(t)%>"><%=t%></button>
          </li>
        </ul>

        <div id="<%=@types.index(t)%>" class="collapse" style="overflow-x:auto;">
      <table id="table"  class="table table-striped child" style="width:100%">
         <thead>
        <tr>
          <% if current_user.admin? %>
             <th>Delete</th>
          <% end %>
          <th>Name</th>
          <th>Serving size</th>
          <th>Calories</th>
          <th>Saturated fat</th>
          <th>Sodium</th>
          <th>Carbs</th>
          <th>Sugar</th>
          <th>Fiber</th>
          <th>Protien</th>
          <th>Whole Grain</th>
          <th>20% (Ca,Fe,K)</th>
          <th>Gluten Free</th>
          <th>Organic</th>
          <th>Check</th>
        </tr>
        </thead>
        <% Chow.where(food_type: t).each do |c|%>
       
        <tr >
          <% if current_user.admin? %>
             <td><%= link_to image_tag("X_icon.png", size: "15"), c, method: :delete,
                data: {confirm: "You sure?"} %></td>
          <% end %>
          <td class = "product-name"><%= c.name %></td>
          <td><%= pretify c.serving_size %></td>
          <td><%= pretify c.calories %></td>
          <td><%= pretify c.sat_fat %></td>
          <td><%= pretify c.sodium %></td>
          <td><%= pretify c.carbs %></td>
          <td><%= pretify c.sugar %></td>
          <td><%= pretify c.fiber %></td>
          <td><%= pretify c.protein %></td>
          <td><%= c.whole_grain %></td>
          <td><%= c.ca_fe_k_at_20_percent %></td>
          <td><%= c.gluten_free %></td>
          <td><%= c.organic %></td>
         
          <td><%= check_box_tag "items[#{c.name}]"%></td>      
        </tr>
        <%end%>
      </table>
    </div>
      </div>
    <%end%>
  </div>
  <center>
 <%= submit_tag("Submit", :class => 'btn') %>
 </center>
<%end%>

  

<script type="text/javascript">
   $(".child").each(function(){
       console.log("Dasfasdfasdfas")
       $(this).find("tr:nth-child(3)").show()         
    });
   $("table").tablesorter(); 
    $("#trigger-Diabetic").click(function() { 
        // set sorting column and direction, this will sort on the first and third column the column index starts at zero 
        var sorting = [[2,0],[8,1],[7,1]]; 
        // sort on the first column 
        $("table").trigger("sorton",[sorting]); 
        // return false to stop default link action 
        return false; 
    });
    $("#trigger-cholesterol").click(function() { 
        // set sorting column and direction, this will sort on the first and third column the column index starts at zero 
        var sorting = [[3,0]]; 
        // sort on the first column 
        $("table").trigger("sorton",[sorting]); 
        // return false to stop default link action 
        
        return false; 
    });
    $("#trigger-Blood").click(function() { 
        // set sorting column and direction, this will sort on the first and third column the column index starts at zero 
        var sorting = [[4,0]]; 
        // sort on the first column 
        $("table").trigger("sorton",[sorting]); 
        // return false to stop default link action 
        return false; 
    });
     $("#trigger-BMI").click(function() { 
        // set sorting column and direction, this will sort on the first and third column the column index starts at zero 
        var sorting = [[2,0],[5,0]]; 
        // sort on the first column 
        $("table").trigger("sorton",[sorting]); 
        // return false to stop default link action 
        return false; 
    });
</script>
    
